<?xml version="1.0"?>
<configuration>

</configuration>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 --><!--

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Server=tcp:jtpkoccbc8.database.windows.net,1433;Database=memberdb;User ID=dbuser@jtpkoccbc8;Password=Password1!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
 
  <add name="appdb"
      connectionString="Server=tcp:jtpkoccbc8.database.windows.net,1433;Database=appdb;User ID=dbuser@jtpkoccbc8;Password=Password1!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

<appSettings>
<add key="StorageAccountAccessKey" value="IcJ1+UmgPw19kmU8N/+Kc2tE175Thsgz/HuHPSGr4xFEFIrHq0maacSHiJVqR1OaiYq42kgQIAG7V8BQONOfYQ==" 
  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="StorageAccountName" value="myfixitvsts2storage" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

</appSettings>
  
</configuration>-->
