<?xml version="1.0"?>
<configuration>
</configuration>
<!--<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Server=tcp:ss4prxswix.database.windows.net,1433;Database=memberdb;User ID=dbuser@ss4prxswix;Password=Password1!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="appdb"
        connectionString="Server=tcp:ss4prxswix.database.windows.net,1433;Database=appdb;User ID=dbuser@ss4prxswix;Password=Password1!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

<appSettings>
  <add key="StorageAccountName" value="{StorageAccountName}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="StorageAccountAccessKey" value="{StorageAccountAccessKey}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
</appSettings>

</configuration>


--><!--
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MyFixItMembership;Integrated Security=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="appdb"
       connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MyFixItTasks;Integrated Security=True"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
-->

